{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Выберите интересующий раздел</p>
        <a href="{% url 'about' %}" class="btn btn-warning">О программе</a><br>
        <a href="{% url 'table_home' %}" class="btn btn-warning">Таблица учета заказов</a>

        {% for val in values %}
            <p>{{ val|upper }}</p>
        {% endfor %}

        {% for el in obj.values %}
            <p>{{ el }}</p>
        {% endfor %}

    </div>
{% endblock %}